#include <windows.h>

STRINGTABLE
BEGIN
    1   "ODE START%0%?ODE_Start@@YAXXZ%"
    2   "ODE UPDATE%0%?ODE_Update@@YAXXZ%"
    3   "ODE UPDATE%F%?ODE_Update@@YAXM@Z%Step"
    4   "ODE END%0%?ODE_End@@YAXXZ%"
    5   "ODE SET WORLD GRAVITY%FFF%?ODE_SetWorldGravity@@YAXMMM@Z%X, Y, Z"
    6   "ODE SET WORLD ERP%F%?ODE_SetWorldERP@@YAXM@Z%ERP"
    7   "ODE SET WORLD CFM%F%?ODE_SetWorldCFM@@YAXM@Z%CFM"
    8   "ODE SET WORLD STEP%F%?ODE_SetWorldStep@@YAXM@Z%Step"
    9   "ODE SET WORLD QUICK STEP NUM ITERATIONS%L%?ODE_SetWorldQuickStepNumIterations@@YAXH@Z%Iterations"
    10  "ODE SET STEP MODE%L%?ODE_SetStepMode@@YAXH@Z%Mode"
    11  "ODE SET RAGDOLL MODE%L%?ODE_SetRagdollMode@@YAXH@Z%Mode"
    12  "ODE GET WORLD GRAVITY X[%F%?ODE_GetWorldGravityX@@YAMXZ%"
    13  "ODE GET WORLD GRAVITY Y[%F%?ODE_GetWorldGravityY@@YAMXZ%"
    14  "ODE GET WORLD GRAVITY Z[%F%?ODE_GetWorldGravityZ@@YAMXZ%"
    15  "ODE GET WORLD ERP[%F%?ODE_GetWorldERP@@YAMXZ%"
    16  "ODE GET WORLD CFM[%F%?ODE_GetWorldCFM@@YAMXZ%"
    17  "ODE GET WORLD STEP[%F%?ODE_GetWorldStep@@YAMXZ%"
    18  "ODE GET WORLD QUICK STEP NUM ITERATIONS[%L%?ODE_GetWorldQuickStepNumIterations@@YAHXZ%"
    19  "ODE SET AUTO DISABLE FLAG%L%?ODE_SetAutoDisableFlag@@YAXH@Z%Flag"
    20  "ODE SET AUTO DISABLE LINEAR THRESHOLD%F%?ODE_SetAutoDisableLinearThreshold@@YAXM@Z%Threshold"
    21  "ODE SET AUTO DISABLE ANGULAR THRESHOLD%F%?ODE_SetAutoDisableAngularThreshold@@YAXM@Z%Threshold"
    22  "ODE SET AUTO DISABLE STEPS%L%?ODE_SetAutoDisableSteps@@YAXH@Z%Steps"
    23  "ODE SET AUTO DISABLE TIME%F%?ODE_SetAutoDisableTime@@YAXM@Z%Time"
    24  "ODE GET AUTO DISABLE FLAG[%L%?ODE_GetAutoDisableFlag@@YAHXZ%"
    25  "ODE GET AUTO DISABLE LINEAR THRESHOLD[%F%?ODE_GetAutoDisableLinearThreshold@@YAMXZ%"
    26  "ODE GET AUTO DISABLE ANGULAR THRESHOLD[%F%?ODE_GetAutoDisableAngularThreshold@@YAMXZ%"
    27  "ODE GET AUTO DISABLE STEPS[%L%?ODE_GetAutoDisableSteps@@YAHXZ%"
    28  "ODE GET AUTO DISABLE TIME[%F%?ODE_GetAutoDisableTime@@YAMXZ%"
    29  "ODE SET WORLD CONTACT SURFACE LAYER%F%?ODE_SetWorldContactSurfaceLayer@@YAXM@Z%Depth"
    30  "ODE GET WORLD CONTACT SURFACE LAYER[%F%?ODE_GetWorldContactSurfaceLayer@@YAMXZ%"
    31  "ODE CREATE STATIC BOX%L%?ODE_CreateStaticBox@@YAXH@Z%Object"
    32  "ODE CREATE STATIC BOX%LFFF%?ODE_CreateStaticBox@@YAXHMMM@Z%Object, XSize, YSize, ZSize"
    33  "ODE CREATE STATIC SPHERE%L%?ODE_CreateStaticSphere@@YAXH@Z%Object"
    34  "ODE CREATE STATIC TRIANGLE MESH%L%?ODE_CreateStaticTriangleMesh@@YAXH@Z%Object"
    35  "ODE CREATE STATIC UNIVERSE%0%?ODE_CreateStaticUniverse@@YAXXZ%"
    36  "ODE CREATE DYNAMIC BOX%L%?ODE_CreateDynamicBox@@YAXH@Z%Object"
    37  "ODE CREATE DYNAMIC BOX%LFFF%?ODE_CreateDynamicBox@@YAXHMMM@Z%Object, XSize, YSize, ZSize"
    38  "ODE CREATE DYNAMIC SPHERE%L%?ODE_CreateDynamicSphere@@YAXH@Z%Object"
    39  "ODE CREATE DYNAMIC CYLINDER%L%?ODE_CreateDynamicCylinder@@YAXH@Z%Object"
    40  "ODE CREATE DYNAMIC TRIANGLE MESH%L%?ODE_CreateDynamicTriangleMesh@@YAXH@Z%Object"
    41  "ODE DESTROY OBJECT%L%?ODE_DestroyObject@@YAXH@Z%Object"
    42  "ODE SET LINEAR VELOCITY%LFFF%?ODE_SetLinearVelocity@@YAXHMMM@Z%Object, X, Y, Z"
    43  "ODE SET ANGULAR VELOCITY%LFFF%?ODE_SetAngularVelocity@@YAXHMMM@Z%Object, X, Y, Z"
    44  "ODE SET GRAVITY%LL%?ODE_SetGravity@@YAXHH@Z%Object, Mode"
    45  "ODE SET ACTIVE%LL%?ODE_SetActive@@YAXHH@Z%Object, Mode"
    46  "ODE SET ENABLED%LL%?ODE_SetEnabled@@YAXHH@Z%Object, Enabled"
    47  "ODE SET BODY ROTATION%LFFF%?ODE_SetBodyRotation@@YAXHMMM@Z%Object, X, Y, Z"
    48  "ODE SET BODY MASS%LF%?ODE_SetBodyMass@@YAXHM@Z%Object, Mass"
    49  "ODE SET BODY RESPONSE%LL%?ODE_SetBodyResponse@@YAXHH@Z%Object, Mode"
    50  "ODE SET RESPONSE%LL%?ODE_SetBodyResponse@@YAXHH@Z%Object, Mode"
    51  "ODE ADD BODY FORCE%LFFFFFF%?ODE_AddBodyForce@@YAXHMMMMMM@Z%Object, FX, FY, FZ, PX, PY, PZ"
    52  "ODE ADD FORCE%LFFFFFF%?ODE_AddBodyForce@@YAXHMMMMMM@Z%Object, FX, FY, FZ, PX, PY, PZ"
    53  "ODE GET BODY LINEAR VELOCITY X[%FL%?ODE_GetBodyLinearVelocityX@@YAKH@Z%Object"
    54  "ODE GET BODY LINEAR VELOCITY Y[%FL%?ODE_GetBodyLinearVelocityY@@YAKH@Z%Object"
    55  "ODE GET BODY LINEAR VELOCITY Z[%FL%?ODE_GetBodyLinearVelocityZ@@YAKH@Z%Object"
    56  "ODE GET BODY ANGULAR VELOCITY X[%FL%?ODE_GetBodyAngularVelocityX@@YAKH@Z%Object"
    57  "ODE GET BODY ANGULAR VELOCITY Y[%FL%?ODE_GetBodyAngularVelocityY@@YAKH@Z%Object"
    58  "ODE GET BODY ANGULAR VELOCITY Z[%FL%?ODE_GetBodyAngularVelocityZ@@YAKH@Z%Object"
    59  "ODE GET BODY POSITION X[%FL%?ODE_GetBodyPositionX@@YAMH@Z%Object"
    60  "ODE GET BODY POSITION Y[%FL%?ODE_GetBodyPositionY@@YAMH@Z%Object"
    61  "ODE GET BODY POSITION Z[%FL%?ODE_GetBodyPositionZ@@YAMH@Z%Object"
    62  "ODE GET BODY ROTATION X[%FL%?ODE_GetBodyRotationX@@YAMH@Z%Object"
    63  "ODE GET BODY ROTATION Y[%FL%?ODE_GetBodyRotationY@@YAMH@Z%Object"
    64  "ODE GET BODY ROTATION Z[%FL%?ODE_GetBodyRotationZ@@YAMH@Z%Object"
    65  "ODE GET BODY TRAVEL DISTANCE X[%FL%?ODE_GetBodyTravelDistanceX@@YAKH@Z%Object"
    66  "ODE GET BODY TRAVEL DISTANCE Y[%FL%?ODE_GetBodyTravelDistanceY@@YAKH@Z%Object"
    67  "ODE GET BODY TRAVEL DISTANCE Z[%FL%?ODE_GetBodyTravelDistanceZ@@YAKH@Z%Object"
    68  "ODE GET BODY HEIGHT[%FL%?ODE_GetBodyHeight@@YAKH@Z%Object"
    69  "ODE GET BODY ADJUSTMENT X[%FL%?ODE_GetBodyAdjustmentX@@YAKH@Z%Object"
    70  "ODE GET BODY ADJUSTMENT Y[%FL%?ODE_GetBodyAdjustmentY@@YAKH@Z%Object"
    71  "ODE GET BODY ADJUSTMENT Z[%FL%?ODE_GetBodyAdjustmentZ@@YAKH@Z%Object"
    72  "ODE RAY CAST[%LLFFFFFF%?ODE_RayCast@@YAHHMMMMMM@Z%Object, SX, SY, SZ, EX, EY, EZ"
    73  "ODE GET RAY COLLISION X[%F%?ODE_GetRayCollisionX@@YAKXZ%"
    74  "ODE GET RAY COLLISION Y[%F%?ODE_GetRayCollisionY@@YAKXZ%"
    75  "ODE GET RAY COLLISION Z[%F%?ODE_GetRayCollisionZ@@YAKXZ%"
    76  "ODE GET RAY NORMAL X[%F%?ODE_GetRayNormalX@@YAKXZ%"
    77  "ODE GET RAY NORMAL Y[%F%?ODE_GetRayNormalY@@YAKXZ%"
    78  "ODE GET RAY NORMAL Z[%F%?ODE_GetRayNormalZ@@YAKXZ%"
    79  "ODE SET RAY CAST%LL%?ODE_SetRayCast@@YAXHH@Z%Object, Mode"
    80  "ODE SET SURFACE MODE%LLL%?ODE_SetSurfaceMode@@YAXHHH@Z%ID, Mode, State"
    81  "ODE SET SURFACE MODE CONTACT MU2%LL%?ODE_SetSurfaceModeContactMu2@@YAXHH@Z%ID, State"
    82  "ODE SET SURFACE MODE CONTACT FDIR1%LL%?ODE_SetSurfaceModeContactFDir1@@YAXHH@Z%ID, State"
    83  "ODE SET SURFACE MODE CONTACT BOUNCE%LL%?ODE_SetSurfaceModeContactBounce@@YAXHH@Z%ID, State"
    84  "ODE SET SURFACE MODE CONTACT SOFT ERP%LL%?ODE_SetSurfaceModeContactSoftERP@@YAXHH@Z%ID, State"
    85  "ODE SET SURFACE MODE CONTACT SOFT CFM%LL%?ODE_SetSurfaceModeContactSoftCFM@@YAXHH@Z%ID, State"
    86  "ODE SET SURFACE MODE CONTACT MOTION1%LL%?ODE_SetSurfaceModeContactMotion1@@YAXHH@Z%ID, State"
    87  "ODE SET SURFACE MODE CONTACT MOTION2%LL%?ODE_SetSurfaceModeContactMotion2@@YAXHH@Z%ID, State"
    88  "ODE SET SURFACE MODE CONTACT SLIP1%LL%?ODE_SetSurfaceModeContactSlip1@@YAXHH@Z%ID, State"
    89  "ODE SET SURFACE MODE CONTACT SLIP2%LL%?ODE_SetSurfaceModeContactSlip2@@YAXHH@Z%ID, State"
    90  "ODE SET CONTACT%LLF%?ODE_SetContact@@YAXHHM@Z%ID, Mode, Value"
    91  "ODE SET CONTACT MU2%LF%?ODE_SetContactMu2@@YAXHM@Z%ID, Value"
    92  "ODE SET CONTACT FDIR1%LF%?ODE_SetContactFDir1@@YAXHM@Z%ID, Value"
    93  "ODE SET CONTACT BOUNCE%LF%?ODE_SetContactBounce@@YAXHM@Z%ID, Value"
    94  "ODE SET CONTACT BOUNCE VELOCITY%LF%?ODE_SetContactBounceVelocity@@YAXHM@Z%ID, Value"
    95  "ODE SET CONTACT SOFT ERP%LF%?ODE_SetContactSoftERP@@YAXHM@Z%ID, Value"
    96  "ODE SET CONTACT SOFT CFM%LF%?ODE_SetContactSoftCFM@@YAXHM@Z%ID, Value"
    97  "ODE SET CONTACT MOTION1%LF%?ODE_SetContactMotion1@@YAXHM@Z%ID, Value"
    98  "ODE SET CONTACT MOTION2%LF%?ODE_SetContactMotion2@@YAXHM@Z%ID, Value"
    99  "ODE SET CONTACT SLIP1%LF%?ODE_SetContactSlip1@@YAXHM@Z%ID, Value"
    100 "ODE SET CONTACT SLIP2%LF%?ODE_SetContactSlip2@@YAXHM@Z%ID, Value"
    101 "ODE COLLISION MESSAGE EXISTS[%L%?ODE_CollisionMessageExists@@YAHXZ%"
    102 "ODE COLLISION GET MESSAGE%0%?ODE_CollisionGetMessage@@YAXXZ%"
    103 "ODE GET OBJECT A[%L%?ODE_GetObjectA@@YAHXZ%"
    104 "ODE GET OBJECT B[%L%?ODE_GetObjectB@@YAHXZ%"
    105 "ODE GET OBJECT A CONTACT[%F%?ODE_GetObjectAContact@@YAKXZ%"
    106 "ODE GET OBJECT B CONTACT[%F%?ODE_GetObjectBContact@@YAKXZ%"
    107 "ODE GET OBJECT A VELOCITY X[%F%?ODE_GetObjectAVelocityX@@YAKXZ%"
    108 "ODE GET OBJECT A VELOCITY Y[%F%?ODE_GetObjectAVelocityY@@YAKXZ%"
    109 "ODE GET OBJECT A VELOCITY Z[%F%?ODE_GetObjectAVelocityZ@@YAKXZ%"
    110 "ODE GET OBJECT A ANGULAR VELOCITY X[%F%?ODE_GetObjectAAngularVelocityX@@YAKXZ%"
    111 "ODE GET OBJECT A ANGULAR VELOCITY Y[%F%?ODE_GetObjectAAngularVelocityY@@YAKXZ%"
    112 "ODE GET OBJECT A ANGULAR VELOCITY Z[%F%?ODE_GetObjectAAngularVelocityZ@@YAKXZ%"
    113 "ODE GET OBJECT B VELOCITY X[%F%?ODE_GetObjectBVelocityX@@YAKXZ%"
    114 "ODE GET OBJECT B VELOCITY Y[%F%?ODE_GetObjectBVelocityY@@YAKXZ%"
    115 "ODE GET OBJECT B VELOCITY Z[%F%?ODE_GetObjectBVelocityZ@@YAKXZ%"
    116 "ODE GET OBJECT B ANGULAR VELOCITY X[%F%?ODE_GetObjectBAngularVelocityX@@YAKXZ%"
    117 "ODE GET OBJECT B ANGULAR VELOCITY Y[%F%?ODE_GetObjectBAngularVelocityY@@YAKXZ%"
    118 "ODE GET OBJECT B ANGULAR VELOCITY Z[%F%?ODE_GetObjectBAngularVelocityZ@@YAKXZ%"
    119 "ODE CREATE HINGE JOINT%LLLFFFFFF%?ODE_CreateHingeJoint@@YAXHHHMMMMMM@Z%ID, Obj1, Obj2, AxisX, AxisY, AxisZ, PosX, PosY, PosZ"
    120 "ODE CREATE BALL JOINT%LLLFFF%?ODE_CreateBallJoint@@YAXHHHMMM@Z%ID, Obj1, Obj2, PosX, PosY, PosZ"
    121 "ODE SET HINGE JOINT LIMIT%LFF%?ODE_SetHingeJointLimit@@YAXHMM@Z%ID, Low, High"
    122 "ODE CREATE RAGDOLL FROM BONE MODEL%LF%?ODE_CreateRagdollFromBoneModel@@YAXHM@Z%Object, Scale"
    123 "ODE CREATE RAGDOLL FROM BONE MODEL%LFL%?ODE_CreateRagdollFromBoneModel@@YAXHMH@Z%Object, Scale, Mode"
    124 "ODE DESTROY RAGDOLL%L%?ODE_DestroyRagdoll@@YAXH@Z%Object"
END
