// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

STRINGTABLE 
BEGIN
    1                   "TEXT%LLS%?Text@@YAXHHPEAD@Z%X, Y, String"
    2                   "CENTER TEXT%LLS%?CenterText@@YAXHH_K@Z%X, Y, String"
    3                   "SET TEXT FONT%SL%?SetTextFont@@YAXPEADH@Z%Fontname, Charset"
    4                   "SET TEXT FONT%S%?SetTextFont@@YAXPEADH@Z%Fontname"
    5                   "SET TEXT SIZE%L%?SetTextSize@@YAXH@Z%Size"
    6                   "SET TEXT TO NORMAL%0%?SetTextToNormal@@YAXXZ%"
    7                   "SET TEXT TO ITALIC%0%?SetTextToItalic@@YAXXZ%"
    8                   "SET TEXT TO BOLD%0%?SetTextToBold@@YAXXZ%"
    9                   "SET TEXT TO BOLDITALIC%0%?SetTextToBoldItalic@@YAXXZ%"
    10                  "SET TEXT OPAQUE%0%?SetTextToOpaque@@YAXXZ%"
    11                  "SET TEXT TRANSPARENT%0%?SetTextToTransparent@@YAXXZ%"
    12                  "PERFORM CHECKLIST FOR FONTS%0%?PerformChecklistForFonts@@YAXXZ%"
    13                  "TEXT WIDTH[%LS%?TextWidth@@YAH_K@Z%String"
    14                  "TEXT HEIGHT[%LS%?TextHeight@@YAH_K@Z%String"
    15                  "TEXT SIZE[%L%?TextSize@@YAHXZ%"
    16                  "TEXT FONT$[%S%?TextFont@@YA_K_K@Z%"
    17                  "TEXT STYLE[%L%?TextStyle@@YAHXZ%"
    18                  "TEXT BACKGROUND TYPE[%L%?TextBackgroundType@@YAHXZ%"
    19                  "ASC[%LS%?Asc@@YAH_K@Z%String"
    20                  "BIN$[%SL%?Bin@@YA_K_KH@Z%Value"
    21                  "CHR$[%SL%?Chr@@YA_K_KH@Z%Value"
    22                  "HEX$[%SL%?Hex@@YA_K_KH@Z%Value"
    23                  "LEFT$[%SSL%?Left@@YA_K_K0H@Z%String, Value"
    24                  "LEN[%LS%?Len@@YAH_K@Z%String"
    25                  "LOWER$[%SS%?Lower@@YA_K_K0@Z%String"
    26                  "MID$[%SSL%?Mid@@YA_K_K0H@Z%String, Value"
    27                  "RIGHT$[%SSL%?Right@@YA_K_K0H@Z%String, Value"
    28                  "STR$[%SF%?Str@@YA_K_KM@Z%Value"
    29                  "STR$[%SL%?Str@@YA_K_KH@Z%Value"
    30                  "UPPER$[%SS%?Upper@@YA_K_K0@Z%String"
    31                  "VAL[%FS%?ValF@@YAK_K@Z%String"
    32                  "STR$[%SO%?StrDouble@@YA_K_KN@Z%Double Float"
    33                  "STR$[%SR%?StrDoubleInt@@YA_K_K_J@Z%Double Integer"
    34                  "VAL[%RS%?ValR@@YA_J_K@Z%String"
    35                  "REVERSE$[%SS%?Reverse@@YAX_K@Z%String"
    49                  "SPACES$[%SL%?Spaces@@YA_K_KH@Z%Spaces"
    50                  "FIND FIRST CHAR[%LSS%?FindFirstChar@@YAH_K0@Z%String, Char"
    51                  "FIND LAST CHAR[%LSS%?FindLastChar@@YAH_K0@Z%String, Char"
    52                  "FIND SUB STRING[%LSS%?FindSubString@@YAH_K0@Z%String, SubString"
    53                  "FIRST TOKEN$[%SSS%?FirstToken@@YA_K_K00@Z%String, Delim"
    54                  "NEXT TOKEN$[%SS%?NextToken@@YA_K_K0@Z%Delim"
    55                  "COMPARE CASE[%LSS%?CompareCase@@YAH_K0@Z%String A, String B"
    56                  "SPACE$[%SL%?Spaces@@YA_K_KH@Z%Spaces"
    57                  "STR$[%SFL%?StrEx@@YA_K_KMH@Z%Value, Decimals"
END
